* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}

@import './mixins';
@import './loader';
@import './header';
@import './homepage';
@import './cart';